.carta {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 10rem;
    height: 10rem;
    border: 1px solid red;
    box-shadow: 5px 6px 15px black;
    transition: all 2s;
    background-color: cornsilk;
}