.main{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color:  cornflowerblue
} 
.start {
    font-size: 3rem;
    text-decoration: none;
    color: whitesmoke;
    border: solid black 5px;
    padding: 5rem;
    background-color: grey;
    border-radius: 50px;
    box-shadow: 5px 6px 15px black;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: all 0.3s ;
    font-weight: bold;
}
.start:hover {
    font-size: 3.1rem;
    color: darkblue;
    box-shadow: -30px -30px -30px black;
}

