.cont{
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    background-color: sienna;
}

.center{
    display: flex;
    background-color: skyblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-group{
    width: 50%;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}